{% extends 'Main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--Panel1-->
<div>
   <form method="post">
      {% csrf_token %}
      <div class="form-group row pb-4">
         <div class="row">
            <div class="col-4">
               <div class="col-md">
                  <div class="card text-center text-dark mb-3">

                     <div class="card-body">
                        <h2 class="card-title">Welcome Back, {{user.first_name|title}}!</h2>
                        <p class="mb-0">Investment Dashboard</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            {{form.monthly_income | as_crispy_field}}
         </div>
         <div class="col-md-4">
            {{form.monthly_expenses|as_crispy_field}}
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            {{form.savings_account_percentage|as_crispy_field}}
         </div>
         <div class="col-md-4">
            {{form.insurance_account_percentage|as_crispy_field}}
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            {{form.investment_account_percentage| as_crispy_field}}
         </div>
      </div>

      <button type="submit" class="btn btn-success mt-4">Invest Now</button>
   </form>
</div>

{% endblock %}