{% extends 'Main/base.html'%}
{% load static %}
{% load humanize %}
{% load main_extras %}
{% block title%}Home{% endblock%}
{% block content %}

<br>
{% if investments %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end p-4">
   <a href="{% url 'investment_goals_edit' investments.user_id %}" class="btn btn-secondary btn-lg me-md-2"
      type="button">Edit Investment Goals </a>

</div>

<div class="row justify-content-between">
   <div class="col-6">
      <h4>Welcome Back, {{user.first_name|title}}!</h4>
   </div>
   <div class="col-6">
      <div class="row justify-content-end">
         <div class="col">
            <h4>Availabe: ${{investments.get_total_amount|intcomma}}</h4>
         </div>
         <div class="col-auto">
            <h4>Allocated: ${{investments.available_to_invest|intcomma}}</h4>
         </div>
      </div>
   </div>

</div>



<div class=" row justify-content-between">

   <div class="col-sm-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">
            <div class="card-body">
               <h5 class="bold">Expenses/Available/Allocated</h5>
               <canvas id="pie-chart" data-url="{% url 'pie_chart' %}"></canvas>
            </div>
         </div>
      </div>

   </div>

   <div class="col-sm-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">

            <div class="card-body">
               <h5 class="bold">Allocation By Buckets</h5>
               <canvas id="bucket-chart" data-url="{% url 'bucket_pie_chart' %}"></canvas>
            </div>
         </div>
      </div>

   </div>

   <div class="col-sm-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">

            <div class="card-body">
               <h5 class="bold">Allocation By Markets</h5>
               <canvas id="market-chart" data-url="{% url 'market_pie_chart' %}"></canvas>
            </div>
         </div>
      </div>

   </div>

</div>

{% if savings %}

<div class="container">
   <h4>Savings</h4>
   <div class="row">
      <table class="table">
         <thead class="table-dark">
            <th scope="col">Investment Market</th>
            <th scope="col">Amount</th>
            <th scope="col">Mass</th>
            <th scope="col"></th>
            <th scope="col"></th>
         </thead>
         <tbody>

            {% for saving in savings %}
            <tr>
               <td>{{saving.sub_category}}</td>
               <td>${{saving.amount|intcomma}}</td>
               <td>{{saving.percentage}}%</td>
               <td>
                  <a href="{% url 'edit_savings_url' saving.id %}" class="btn btn-sm btn-secondary">Edit</a>
               </td>
               <td>
                  <a href="{% url 'delete_savings_url' saving.id %}" class="btn btn-sm btn-danger">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
<br>

{% if invest %}

<div class="container">
   <h4>Investments</h4>
   <div class="row">
      <table class="table">
         <thead class="table-dark">
            <th scope="col">Investment Market</th>
            <th scope="col">Amount</th>
            <th scope="col">Mass</th>
            <th scope="col"></th>
            <th scope="col"></th>
         </thead>
         <tbody>

            {% for invest in invest %}
            <tr>
               <td>{{invest.sub_category}}</td>
               <td>${{invest.amount|intcomma}}</td>
               <td>{{invest.percentage}}%</td>
               <td>
                  <a href="{% url 'edit_investments_url' invest.id %}" class="btn btn-sm btn-secondary">Edit</a>
               </td>
               <td>
                  <a href="{% url 'delete_investments_url' invest.id %}" class="btn btn-sm btn-danger">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
<br>


{% if insurance %}

<div class="container">
   <h4>Insurances</h4>
   <div class="row">
      <table class="table">
         <thead class="table-dark">
            <th scope="col">Investment Market</th>
            <th scope="col">Amount</th>
            <th scope="col">Mass</th>
            <th scope="col"></th>
            <th scope="col"></th>
         </thead>
         <tbody>

            {% for insurance in insurance %}
            <tr>
               <td>{{insurance.sub_category}}</td>
               <td>${{insurance.amount|intcomma}}</td>
               <td>{{insurance.percentage}}%</td>
               <td>
                  <a href="{% url 'edit_insurances_url' insurance.id %}" class="btn btn-sm btn-secondary">Edit</a>
               </td>
               <td>
                  <a href="{% url 'delete_insurances_url' insurance.id %}" class="btn btn-sm btn-danger">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
{% else %}


<div class="row">
   <div class="col-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">

            <div class="card-body">
               <h4 class="card-title">Welcome Back, {{user.first_name|title}}!</h4>
               <p class="mb-0">Investment Dashboard</p>
            </div>
         </div>
      </div>
   </div>
</div>
<a class="btn btn-success btn-lg mt-4" href="{% url 'investment_url' %}" type="submit">Create Investment Goals</a>
{% endif %}



{% endblock %}
{% block extra_js %}

<script>
   $(document).ready(function () {
      $(document).on("click", ".editable", function () {
         var value = $(this).text();
         var input = "<input type='text' class='input-data' value='" + value + "' class='form-control'> ";
         $(this).html(input);
         $(this).removeClass("editable")
      });

      $(document).on("blur", ".input-data", function () {
         var value = $(this).val();
         var td = $(this).parent("td");
         $(this).remove();
         td.html(value);
         td.addClass("editable");
      })

         (document).on("keypress", ".input-data", function (e) {
            var key = e.code;
            if (key == Enter) {
               var value = $(this).val();
               var td = $(this).parent("td");
               $(this).remove();
               td.html(value);
               td.addClass("editable");
            }
         })
   })

   $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
   });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

   $(function () {

      var $pieChart = $("#pie-chart");
      var $bucketChart = $("#bucket-chart");
      var $marketChart = $("#market-chart");
      Chart.defaults.global.legend.labels.usePointStyle = true;

      var defaultLegendClickHandler = Chart.defaults.global.legend.onClick;
      var pointBackgroundColors = [];


      var newLegendClickHandler = function (e, legendItem) {
         var index = legendItem.datasetIndex;
         if (index > 1) {
            defaultLegendClickHandler(e, legendItem);
         } else {
            let ci = this.chart;
            [
               ci.getDatasetMeta(0),
               ci.getDatasetMeta(1)
            ].forEach(function (meta) {
               meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
            });
            ci.update();
         }
      };


      $.ajax({
         url: $pieChart.data("url"),
         success: function (data) {

            var ctx = $pieChart[0].getContext("2d");



            new Chart(ctx, {
               type: 'doughnut',
               data: {
                  labels: data.labels,
                  datasets: [{
                     label: 'Income',
                     backgroundColor: [

                        'rgba(173,175,241)',
                        'rgba(83,84,141)',
                        'rgb(27,28,47)',
                     ],

                     data: data.data
                  }]
               },
               options: {
                  responsive: true,
                  legend: {
                     display: true,
                     position: 'right',

                  },
                  title: {
                     display: false,
                     text: 'Expenses/Availabe/Allocated'
                  },
                  tooltips: {
                     callbacks: {

                        label: function (tooltipItem, data) {
                           return data.labels[tooltipItem.index] + ': $' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                     }
                  },
                  pieceLabel: {
                     mode: 'value'
                  },
                  plugins: {
                     labels: {
                        render: 'data'
                     }
                  }

               }
            });

         }
      });



      $.ajax({
         url: $bucketChart.data("url"),
         success: function (data) {

            var ctx = $bucketChart[0].getContext("2d");

            new Chart(ctx, {
               type: 'doughnut',
               data: {
                  labels: data.labels,
                  datasets: [{
                     label: 'Income',
                     backgroundColor: [

                        'rgba(173,175,241)',
                        'rgba(83,84,141)',
                        'rgb(27,28,47)',

                     ],
                     data: data.data
                  }]
               },
               options: {
                  responsive: true,
                  legend: {
                     display: true,
                     position: 'right',
                  },
                  title: {
                     display: false,
                     text: 'Allocation By Buckets'
                  },
                  tooltips: {
                     callbacks: {

                        label: function (tooltipItem, data) {
                           return data.labels[tooltipItem.index] + ': $' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                     }
                  },
               }
            });

         }
      });


      $.ajax({
         url: $marketChart.data("url"),
         success: function (data) {

            var ctx = $marketChart[0].getContext("2d");

            chart = new Chart(ctx, {
               type: 'doughnut',
               data: {
                  labels: data.labels,
                  datasets: [{
                     label: 'Income',
                     backgroundColor: [

                        'rgba(173,175,241)',
                        'rgb(139,141,236)',
                        'rgb(125,126,212)',
                        'rgb(111,112,188)',
                        'rgba(97,98,165)',
                        'rgba(83,84,141)',
                        'rgb(69,70,118)',
                        'rgb(55,56,94)',
                        'rgb(41,42,70)',
                        'rgb(27,28,47)',
                        'rgb(13,14,23)',
                     ],
                     data: data.data
                  }]
               },
               options: {
                  responsive: true,
                  legend: {
                     display: true,
                     position: 'right',
                     labels: {

                     }
                  },
                  title: {
                     display: false,
                     text: 'Markets'
                  },
                  tooltips: {
                     callbacks: {

                        label: function (tooltipItem, data) {
                           return data.labels[tooltipItem.index] + ': $' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                     }
                  },
               }
            });

         }
      });

   });

</script>

{% endblock extra_js %}