{% extends 'Main/base.html'%}
{% load static %}
{% load humanize %}
{% load main_extras %}
{% block title%}Home{% endblock%}
{% block content %}

<br>
{% if investments %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end p-4">
   <a href="{% url 'investment_goals_edit' investments.user_id %}" class="btn btn-secondary btn-lg me-md-2"
      type="button">Edit Investment Goals </a>

</div>

<div class="row justify-content-between">
   <div class="col-6">
      <h4>Welcome Back, {{user.first_name|title}}!</h4>
   </div>
   <div class="col-6">
      <div class="row justify-content-end">
         <div class="col">
            <h4>Allocated: ${{investments.get_total_amount|intcomma}}</h4>
         </div>
         <div class="col-auto">
            <h4>Available: ${{investments.available_to_invest|intcomma}}</h4>
         </div>
      </div>
   </div>

</div>



<div class=" row justify-content-between">

   <div class="col-sm-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">
            <div class="card-body">
               <h5 class="bold">Expenses/Available/Allocated</h5>
               <canvas id="pie-chart" data-url="{% url 'pie_chart' %}"></canvas>
               <div id="legend1"></div>
            </div>
         </div>
      </div>

   </div>

   <div class="col-sm-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">

            <div class="card-body">
               <h5 class="bold">Allocation By Buckets</h5>
               <canvas id="bucket-chart" data-url="{% url 'bucket_pie_chart' %}"></canvas>
               <div id="legend2"></div>
            </div>
         </div>
      </div>

   </div>

   <div class="col-sm-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">

            <div class="card-body">
               <h5 class="bold">Allocation By Markets</h5>
               <div class="chart-container">
                  <canvas id="market-chart" data-url="{% url 'market_pie_chart' %}" width=200></canvas>
                  <div id="legend"></div>
               </div>


            </div>

         </div>
      </div>

   </div>

</div>

{% if savings %}

<div class="container">
   <h4>Savings</h4>
   <div class="row">
      <table class="table">
         <thead class="table-dark">
            <th scope="col">Investment Market</th>
            <th scope="col">Amount</th>
            <th scope="col">Mass</th>
            <th scope="col"></th>
            <th scope="col"></th>
         </thead>
         <tbody>

            {% for saving in savings %}
            <tr>
               <td>{{saving.sub_category}}</td>
               <td>${{saving.amount|intcomma}}</td>
               <td>{{saving.percentage}}%</td>
               <td>
                  <a href="{% url 'edit_savings_url' saving.id %}" class="btn btn-sm btn-secondary">Edit</a>
               </td>
               <td>
                  <a href="{% url 'delete_savings_url' saving.id %}" class="btn btn-sm btn-danger">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
<br>

{% if invest %}

<div class="container">
   <h4>Investments</h4>
   <div class="row">
      <table class="table">
         <thead class="table-dark">
            <th scope="col">Investment Market</th>
            <th scope="col">Amount</th>
            <th scope="col">Mass</th>
            <th scope="col"></th>
            <th scope="col"></th>
         </thead>
         <tbody>

            {% for invest in invest %}
            <tr>
               <td>{{invest.sub_category}}</td>
               <td>${{invest.amount|intcomma}}</td>
               <td>{{invest.percentage}}%</td>
               <td>
                  <a href="{% url 'edit_investments_url' invest.id %}" class="btn btn-sm btn-secondary">Edit</a>
               </td>
               <td>
                  <a href="{% url 'delete_investments_url' invest.id %}" class="btn btn-sm btn-danger">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
<br>


{% if insurance %}

<div class="container">
   <h4>Insurances</h4>
   <div class="row">
      <table class="table">
         <thead class="table-dark">
            <th scope="col">Investment Market</th>
            <th scope="col">Amount</th>
            <th scope="col">Mass</th>
            <th scope="col"></th>
            <th scope="col"></th>
         </thead>
         <tbody>

            {% for insurance in insurance %}
            <tr>
               <td>{{insurance.sub_category}}</td>
               <td>${{insurance.amount|intcomma}}</td>
               <td>{{insurance.percentage}}%</td>
               <td>
                  <a href="{% url 'edit_insurances_url' insurance.id %}" class="btn btn-sm btn-secondary">Edit</a>
               </td>
               <td>
                  <a href="{% url 'delete_insurances_url' insurance.id %}" class="btn btn-sm btn-danger">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
{% else %}


<div class="row">
   <div class="col-4">
      <div class="col-md">
         <div class="card text-center text-dark mb-3">

            <div class="card-body">
               <h4 class="card-title">Welcome Back, {{user.first_name|title}}!</h4>
               <p class="mb-0">Investment Dashboard</p>
            </div>
         </div>
      </div>
   </div>
</div>
<a class="btn btn-success btn-lg mt-4" href="{% url 'investment_url' %}" type="submit">Create Investment Goals</a>
{% endif %}



{% endblock %}
{% block extra_js %}

<script>
   $(document).ready(function () {
      $(document).on("click", ".editable", function () {
         var value = $(this).text();
         var input = "<input type='text' class='input-data' value='" + value + "' class='form-control'> ";
         $(this).html(input);
         $(this).removeClass("editable")
      });

      $(document).on("blur", ".input-data", function () {
         var value = $(this).val();
         var td = $(this).parent("td");
         $(this).remove();
         td.html(value);
         td.addClass("editable");
      })

         (document).on("keypress", ".input-data", function (e) {
            var key = e.code;
            if (key == Enter) {
               var value = $(this).val();
               var td = $(this).parent("td");
               $(this).remove();
               td.html(value);
               td.addClass("editable");
            }
         })
   })

   $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
   });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

   $(function () {

      var $pieChart = $("#pie-chart");
      var $bucketChart = $("#bucket-chart");
      var $marketChart = $("#market-chart");
      Chart.defaults.global.legend.labels.usePointStyle = true;

      $.ajax({
         url: $pieChart.data("url"),
         success: function (data) {

            var ctx = $pieChart[0].getContext("2d");
            updateDataset1 = function (e, datasetIndex) {
               var index = datasetIndex;
               var ci = e.view.piechart;
               var meta = ci.getDatasetMeta(0);

               var result = (meta.data[datasetIndex].hidden == true) ? false : true;
               if (result == true) {
                  meta.data[datasetIndex].hidden = true;
                  $('#' + e.path[0].id).css("text-decoration", "line-through");
               } else {
                  $('#' + e.path[0].id).css("text-decoration", "");
                  meta.data[datasetIndex].hidden = false;
               }

               ci.update();
            }


            window.piechart = new Chart(ctx, {
               type: 'doughnut',
               data: {
                  labels: data.labels,
                  datasets: [{
                     label: 'Income',
                     backgroundColor: [

                        'rgba(173,175,241)',
                        'rgba(83,84,141)',
                        'rgb(27,28,47)',
                     ],

                     data: data.data
                  }]
               },
               options: {
                  responsive: true,
                  legend: false,
                  display: false,
                  legendCallback: function (piechart) {
                     // Return the HTML string here.
                     console.log(piechart.data.datasets);
                     var text = [];

                     text.push('<ul style="list-style-type:none; position: absolute; right: 30px; top: 110px; font-size: 12px; display:block;" class="legend1-' + piechart.id + '" ></span>');
                     for (var i = 0; i < piechart.data.datasets[0].data.length; i++) {
                        if (text.length >= 10) {
                           break
                        }
                        text.push('<li style="display: flex; flex-direction: row; align-items: center;"><span id="arr-' + i + '-item" style="display: inline-block; width: 10px; height: 10px; margin-right: 5px; border-radius:50%; background-color:' + piechart.data.datasets[0].backgroundColor[i] + '" onclick="updateDataset1(event, ' + '\'' + i + '\'' + ')"></span>');
                        if (piechart.data.labels[i]) {
                           text.push(piechart.data.labels[i]);
                        }
                        text.push('</li>');
                     }
                     text.push('</ul>');
                     return text.join("");

                  },


                  title: {
                     display: false,
                     text: 'Expenses/Availabe/Allocated'
                  },
                  tooltips: {
                     callbacks: {

                        label: function (tooltipItem, data) {
                           return data.labels[tooltipItem.index] + ': $' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                     }
                  },
                  pieceLabel: {
                     mode: 'value'
                  },
                  plugins: {
                     labels: {
                        render: 'data'
                     }
                  }

               }
            });
            document.getElementById("legend1").innerHTML = piechart.generateLegend();

         }
      });



      $.ajax({
         url: $bucketChart.data("url"),
         success: function (data) {

            var ctx = $bucketChart[0].getContext("2d");
            updateDataset2 = function (e, datasetIndex) {
               var index = datasetIndex;
               var ci = e.view.mychart;
               var meta = ci.getDatasetMeta(0);
               console.log(meta)

               var result = (meta.data[datasetIndex].hidden == true) ? false : true;
               if (result == true) {
                  meta.data[datasetIndex].hidden = true;
                  $('#' + e.path[0].id).css("text-decoration", "line-through");
               } else {
                  $('#' + e.path[0].id).css("text-decoration", "");
                  meta.data[datasetIndex].hidden = false;
               }

               ci.update();
            }

            window.mychart = new Chart(ctx, {
               type: 'doughnut',
               data: {
                  labels: data.labels,
                  datasets: [{
                     label: 'Income',
                     backgroundColor: [

                        'rgba(173,175,241)',
                        'rgba(83,84,141)',
                        'rgb(27,28,47)',

                     ],
                     data: data.data
                  }]
               },
               options: {
                  responsive: true,
                  legend: false,
                  display: false,
                  legendCallback: function (mychart) {
                     // Return the HTML string here.
                     console.log(mychart.data.datasets);
                     var vat = [];

                     vat.push('<ul style="list-style-position: outside; list-style-type:none; position: absolute; right: 20px; top: 110px; font-size: 12px; display:block;" class="legend2-' + mychart.id + '" ></span>');
                     for (var i = 0; i < mychart.data.datasets[0].data.length; i++) {
                        if (vat.length >= 10) {
                           break
                        }
                        vat.push('<li style="display: flex; flex-direction: row; align-items: center;"><span id="arr-' + i + '-item" style="display: inline-block; width: 10px; height: 10px; margin-right: 5px; border-radius:50%; background-color:' + mychart.data.datasets[0].backgroundColor[i] + '" onclick="updateDataset2(event, ' + '\'' + i + '\'' + ')"></span>');
                        if (mychart.data.labels[i]) {
                           vat.push(mychart.data.labels[i]);
                        }
                        vat.push('</li>');
                     }
                     vat.push('</ul>');
                     console.log(vat)
                     return vat.join("");

                  },
                  title: {
                     display: false,
                     text: 'Allocation By Buckets'
                  },
                  tooltips: {
                     callbacks: {

                        label: function (tooltipItem, data) {
                           return data.labels[tooltipItem.index] + ': $' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                     }
                  },
               }
            });
            document.getElementById("legend2").innerHTML = mychart.generateLegend();
         }

      });


      $.ajax({
         url: $marketChart.data("url"),
         success: function (data) {

            var ctx = $marketChart[0].getContext("2d");
            updateDataset = function (e, datasetIndex) {
               var index = datasetIndex;
               var ci = e.view.chart;
               var meta = ci.getDatasetMeta(0);



               if (index == ci.data.datasets[0].data.length) {
                  var ul = document.querySelectorAll(`.legend-${ci.id}`)
                  ul.forEach(func);
                  function func(value) {
                     if (value.style.display == "block") {
                        value.style.display = "none";
                     } else {
                        value.style.display = "block";
                     }
                  }

               } else {
                  var result = (meta.data[datasetIndex].hidden == true) ? false : true;
                  console.log(e.view)
                  if (result == true) {
                     meta.data[datasetIndex].hidden = true;
                     $('#' + e.path[0].id).css("text-decoration", "line-through");
                  } else {
                     $('#' + e.path[0].id).css("text-decoration", "");
                     meta.data[datasetIndex].hidden = false;
                  }

                  ci.update();
               }



            }

            window.chart = new Chart(ctx, {
               type: 'doughnut',
               data: {
                  labels: data.labels,
                  datasets: [{
                     label: 'Income',
                     backgroundColor: [

                        'rgba(173,175,241)',
                        'rgb(139,141,236)',
                        'rgb(125,126,212)',
                        'rgb(111,112,188)',
                        'rgba(97,98,165)',
                        'rgba(83,84,141)',
                        'rgb(69,70,118)',
                        'rgb(55,56,94)',
                        'rgb(41,42,70)',
                        'rgb(27,28,47)',
                        'rgb(13,14,23)',
                     ],
                     data: data.data
                  }]
               },
               options: {
                  responsive: true,
                  legend: false,
                  legendCallback: function (chart) {
                     // Return the HTML string here.

                     var text = [];
                     var more = [];

                     text.push('<ul style="list-style-position: outside; list-style-type:none; position: absolute; right: 3px; top: 110px; font-size: 12px; display:block;" class="legend-' + chart.id + '" onclick="updateDataset(event, ' + '\'' + i + '\'' + ')"></span>');
                     for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                        if (text.length >= 16) {
                           console.log(text)
                           break
                        }
                        text.push('<li style="display: flex; flex-direction: row; align-items: center;"><span id="legend-' + i + '-item" style="display: inline-block; width: 10px; height: 10px; margin-right: 5px; border-radius:50%; background-color:' + chart.data.datasets[0].backgroundColor[i] + '" onclick="updateDataset(event, ' + '\'' + i + '\'' + ')"></span>');
                        if (chart.data.labels[i]) {
                           text.push(chart.data.labels[i]);
                        }
                        text.push('</li>');
                     }

                     more.push('<ul style="list-style-position: outside; list-style-type:none; position: absolute; right: 20px; top: 110px; font-size: 12px; display:none;" class="legend-' + chart.id + '">');
                     for (var i = 5; i < chart.data.datasets[0].data.length; i++) {
                        more.push('<li style="display: flex; flex-direction: row; align-items: center;"><span id="legend-' + i + '-item" style="display: inline-block; width: 10px; height: 10px; margin-right: 5px; border-radius:50%; background-color:' + chart.data.datasets[0].backgroundColor[i] + '"  onclick="updateDataset(event, ' + '\'' + i + '\'' + ')"></span>');
                        if (chart.data.labels[i]) {
                           more.push(chart.data.labels[i]);
                        }
                        more.push('</li>');
                     }

                     text.push('</ul>');
                     more.push('</ul>');
                     together = text.concat(more)

                     other = []
                     other.push('<ul style=" list-style-position: outside; list-style-type:none; position: absolute; right: 55px; top: 220px; font-size: 12px; display:block">');
                     var i = chart.data.datasets[0].data.length
                     other.push('<li style="display: flex; flex-direction: row; align-items: center;"><span id="legend-' + i + '-item" style="display: inline-block; width: 10px; height: 10px; margin-right: 5px; border-radius:50%; background-color:black"   onclick="updateDataset(event, ' + '\'' + i + '\'' + ')"></span>');
                     other.push('Others')
                     other.push('</li>');
                     other.push('</ul>');

                     together = together.concat(other)
                     return together.join("");
                  },
                  title: {
                     display: false,
                     text: 'Markets'
                  },
                  tooltips: {
                     callbacks: {

                        label: function (tooltipItem, data) {
                           return data.labels[tooltipItem.index] + ': $' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                     }
                  },
               }
            });
            legend.innerHTML = chart.generateLegend();



         }
      });

   });


</script>

{% endblock extra_js %}